body { padding-top: 5rem; }

.content-body{
  margin-top: 20px;
}

.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
}

.navbar-dark{
  background-color: black;
}
.navbar-nav{
  margin-left: auto;
}
.nav-link{
  font-size: 1.2rem;
}
