<div class="d-block p-2 ">
  <div class="d-inline p-2 ">
    <h5 class="d-inline p-2 text-muted">PRICE :</h5>
  </div>
  <div class="d-inline p-2 ">
    <h3 class="d-inline p-2 " id='live-price'>---</h3>
  </div>
</div>
<div class="d-block p-2 ">
  <div class="d-inline p-2 ">
    <h5 class="d-inline p-2 text-muted">SUGGESTION :</h5>
  </div>
  <div class="d-inline p-2 ">
    <h3 class="d-inline p-2 " id=<%-s_id%> >---</h3>
  </div>
</div>
