<h2>News</h2>
<div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" id="news1_img" >
                <div class="card-body">
                  <p class="card-text" id="news1_t"></p>
                  <div class="d-flex justify-content-between align-items-center">

                      <button type="button" class="btn btn-success">Positive</button>

                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" id="news2_img" >
                <div class="card-body">
                  <p class="card-text" id="news2_t"></p>
                  <div class="d-flex justify-content-between align-items-center">

                      <button type="button" class="btn btn-success">Positive</button>

                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" id="news3_img" >
                <div class="card-body">
                  <p class="card-text" id="news3_t"></p>
                  <div class="d-flex justify-content-between align-items-center">

                      <button type="button" class="btn btn-danger">Negative</button>

                    <small class="text-muted"> JUNE 24, 2022 / 12:19 PM IST</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" id="news4_img" >
                <div class="card-body">
                  <p class="card-text" id="news4_t"></p>
                  <div class="d-flex justify-content-between align-items-center">

                      <button type="button" class="btn btn-danger">Neagative</button>

                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" id="news5_img" >
                <div class="card-body">
                  <p class="card-text" id="news5_t"></p>
                  <div class="d-flex justify-content-between align-items-center">

                      <button type="button" class="btn btn-success">Positive</button>

                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
